{% extends 'main/base.html' %}

{% block title%}
Контакты
{% endblock %}

{% block content%}
    <div class="row">
      <div class="col-12">
        <h1>Пантелеев Владимир Иннокентьевич</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <p>Заведующий кафедрой алгебраических и информационных систем, доктор физико-математических наук, профессор</p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img width="300px" src="../../static/main/image/fotoVI.jpg">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Контакты для связи</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Телефон: +7 (3952) 52-12-77</p>
        <p>Почта: <a href="mailto: vl.panteleyev@gmail.com">vl.panteleyev@gmail.com</a></p>
        <p>ORCID: <a href="https://orcid.org/0000-0003-4766-486X">0000-0003-4766-486X</a></p>
        <p>Телеграм: </p>
      </div>
    </div>
{% endblock %}

