{% extends 'main/base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
  <h1>Регистрация студента</h1>
  <form method="post">
    {% csrf_token %}
    {{ profile_form.as_p }}
    {% for f in form %}
      <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
      <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit" class="btn btn-outline-primary">Регистрация</button>
    <span>{{ error }}</span>
  </form>
{% endblock %}